html
   head
      meta(charset="UTF-8")
      meta(name="msapplication-tap-highlight", content="no")
      title Client Page
      link(rel="stylesheet", type="text/css", href="/client/css/style.css")

   body
      div#wrapper
         h1#join
         div#touchpad
         button#ready(onclick='toggleReady()') Ready ?
         h2 Score
         p#score
         p#error

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(type='text/javascript').
         var roomId = !{JSON.stringify(room) || "undefined"};

      script(src='/client/js/client.js')