html
   head
      meta(charset="UTF-8")
      title server View
      link(rel="stylesheet", type="text/css", href="/host/css/style.css")

   body
      p Navigate to #[a#gameLink(href='href="https://adrion-remote-socket.herokuapp.com/') ERROR] with your mobile phone.
      p#status
      div#wrapper

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(type='text/javascript').
         var roomId = !{JSON.stringify(room) || "undefined"};
      script(src='/host/js/host.js')